@import url('https://fonts.googleapis.com/css?family=Roboto:300,400i');
body {
    font-family: "Roboto",sans-serif;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background:url(../images/Background.jpg) 0 0 / cover;
}   
#wrap {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}
#calendar {
    margin: 0 auto;
    width: 900px;
    background-color: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 1px 2px #C3C3C3;
    -webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
    box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
}
.fc-toolbar.fc-header-toolbar {
    border: 1px solid #ddd;
    border-radius: 5px 5px 0 0;
    margin: 0 0 -1px;
    padding: 1em;
}
.fc-toolbar.fc-footer-toolbar {
    border: 1px solid #ddd;
    border-radius: 0 0 5px 5px;
    margin: -1px 0 0;
    padding: 1em;
}
.fc-first th {
    background: #9675ce !important;
    color: #fff;
    font-family: "Roboto",sans-serif;
    font-size: 14px !important;
    font-weight: 500 !important;
}
.fc-event {
    font-size: 1em;
    min-height: 50px;
    line-height: 1.5em;
    text-align: center;
}
.fc-time {
    display: block;
}
.fc-event.btn-success {
    background: #5cb85c;
    border-color: #4cae4c;
}
.fc-event.btn-success:hover {
    background: #449d44;
    border-color: #398439;
}
.fc-event.btn-danger {
    background: #d9534f;
    border-color: #d43f3a;
}
.fc-event.btn-danger:hover {
    background: #e9302e;
    border-color: #ae2925;
}

.spinner {
    height: 40px;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    width: 40px;
    z-index: 999;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}