<div class="tabs-login">
      <p>Sign in to start your session</p>
      <form method="post" name="SigninForm" ng-submit="SigninProcess(signin);" autocomplete="false">
            <div class="form-group">
                  <input class="form-control" ng-model="signin.email" placeholder="Email" type="email" required />
            </div>
            <div class="form-group">
                  <input class="form-control" ng-model="signin.password" placeholder="Password" type="password" required />
            </div>
            <div class="form-group">
                  <button type="submit" class="btn btn-lg btn-danger" ng-disabled="SigninForm.$invalid">
                        <i class="glyphicon glyphicon-log-in"></i> Sign In
                  </button>
            </div>
            <p ng-show="SigninError">{{ SigninError }}</p>
      </form>
</div>