<div class="tabs-login">
      <p>Sign up to get access</p>
      <form method="post" name="SignupForm" ng-submit="SignupProcess(signup);" autocomplete="false">
            <div class="form-group">
                  <input class="form-control" ng-model="signup.fname" placeholder="First Name" type="text" required />
            </div>
            <div class="form-group">
                  <input class="form-control" ng-model="signup.lname" placeholder="Last Name" type="text" required />
            </div>
            <div class="form-group">
                  <input class="form-control" ng-model="signup.email" placeholder="Email" type="email" required />
            </div>
            <div class="form-group">
                  <button type="submit" class="btn btn-lg btn-danger" ng-disabled="SignupForm.$invalid">
                        <i class="glyphicon glyphicon-log-in"></i> Sign Up
                  </button>
            </div>
            <p ng-show="SignupError">{{ SignupError }}</p>
      </form>
</div>