@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Common */
html, body {
    height: 100%;
}
body {
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.viewer {
    height: 100%;
    width: 100%;
}
a {
    outline: none !important;
}
/* Common */

/* Chat */
.chat-window {
    bottom: 50px;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    position:fixed;
}
.chat-window .col-xs-2,
.chat-window .col-xs-10 {
    padding:0;
}
.chat-window .panel {
    background: #e5e5e5;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    margin: 0;
    height: 100%;
}
.chat-window .panel-heading {
    background: #ea533f;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 10px;
    position: relative;
    overflow: hidden;
    font-size: 18px;
    line-height: 2.25;
    height: 58px;
    z-index: 9;
}
.chat-window .panel-heading img {
    width: 36px;
    float: left;
    margin-right: 15px;
}
.chat-window .panel-heading .logout {
    color: #fff;
    float: right;
    line-height: 2.25;
    margin: 0;
}
.chat-window .panel-body {
    background: none;
    bottom: 45px;
    margin: 0;
    overflow-x: hidden;
    padding: 10px;
    position: absolute;
    top: 58px;
    z-index: 8;
    width: 100%;
}
.chat-window .panel-footer {
    background: none;
    border: none;
    padding: 5px 10px;
    position: absolute;
    overflow: hidden;
    font-size: 18px;
    line-height: 2;
    width: 100%;
    bottom: 1px;
    height: 45px;
    z-index: 9;
}
.chat-window .panel-footer .form-control {
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    -o-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    border: none;
}
.chat-window .panel-footer .btn {
    background: #ea533f;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    -o-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    -ms-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    border: 1px solid #ea533f;
}
.chat-window .msg_receive {
    padding-left:0;
    margin-left:0;
}
.chat-window .msg_sent {
    padding-bottom:20px !important;
    margin-right:0;
}
.chat-window .messages {
    background: white;
    padding: 10px;
    max-width:100%;
}
.chat-window .messages.msg_sent {
    border-radius: 2px 2px 0 2px;
    -webkit-border-radius: 2px 2px 0 2px;
    -moz-border-radius: 2px 2px 0 2px;
    -o-border-radius: 2px 2px 0 2px;
    -ms-border-radius: 2px 2px 0 2px;
    box-shadow: -1px 1px 2px -1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -1px 1px 2px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -1px 1px 2px -1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: -1px 1px 2px -1px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: -1px 1px 2px -1px rgba(0, 0, 0, 0.2);
}
.chat-window .messages.msg_receive {
    border-radius: 0 2px 2px 2px;
    -webkit-border-radius: 0 2px 2px 2px;
    -moz-border-radius: 0 2px 2px 2px;
    -o-border-radius: 0 2px 2px 2px;
    -ms-border-radius: 0 2px 2px 2px;
    box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 1px 1px 2px -1px rgba(0, 0, 0, 0.2);
}
.chat-window .messages > p {
    font-size: 14px;
    margin: 0 0 0.2rem 0;
}
.chat-window .messages > time {
    font-size: 11px;
    color: #ccc;
}
.chat-window .msg_container {
    display: flex;
    margin: 0;
    overflow: visible;
    padding: 0 0 15px 0;
}
.chat-window img {
    display: block;
    width: 100%;
}
.chat-window .avatar {
    position: relative;
}
.chat-window .base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}
.chat-window .base_sent {
    justify-content: flex-end;
    align-items: flex-end;
}
.chat-window .base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2);
    -webkit-box-shadow: 1px 1px 2px rgba(black, 0.2);
    -moz-box-shadow: 1px 1px 2px rgba(black, 0.2);
    -o-box-shadow: 1px 1px 2px rgba(black, 0.2);
    -ms-box-shadow: 1px 1px 2px rgba(black, 0.2);
}
.chat-window .msg_sent > time{
    float: right;
}
.chat-window .msg_container_base::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -o-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -ms-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
.chat-window .msg_container_base::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}
.chat-window .msg_container_base::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -o-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -ms-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.chat-window .btn-group.dropup {
    position:fixed;
    left:0;
    bottom:0;
}
.btn-footer {
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    bottom: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;
    padding: 7px 5px 9px 5px;
    height: 50px;
}
.btn-footer .bg_none i {
    border: 1px solid #ea533f;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    color: #ea533f;
    font-size: 18px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.btn-footer .bg_none:hover i {
    background: #ea533f;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    color: #fff;
    font-size: 18px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.btn-footer .bg_none {
    background: none;
    border: none;
}
/* Chat */

/* Idea */
.chat-window.bottom-zero .panel-body {
    bottom: 0;
}
.chat-window .panel-heading span {
    float: left;
    font-size: 24px;
    line-height: 1.5;
    margin-right: 15px;
}
.chat-window .idea-form {
    position: relative;
}
.chat-window .idea-form .form-group {
    margin-bottom: 10px;
}
.chat-window .idea-form label {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
    padding: 10px 5px;
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    width: 100%;
}
.chat-window .idea-form .form-control {
    resize: none;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #d5d5d5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333333;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -moz-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -ms-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.chat-window .idea-form .btn {
    background: #ea533f;
    border-color: #e73e28;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 100%;
}
.chat-window .idea-form .btn:hover,
.chat-window .idea-form .btn:focus {
    background: #de2f18;
    border-color: #be2815;
}
/* Idea */

/* Loader */
.loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
    z-index: 99999;
}
.loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 175px;
}
.loader .dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 87.5px;
}
.loader .dot::before {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    -ms-border-radius: 100%;
    content: "";
    height: 87.5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    width: 87.5px;
}
.loader .dot:nth-child(7n+1) {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.loader .dot:nth-child(7n+1)::before {
    animation: 0.8s linear 0.1s normal none infinite running load;
    -webkit-animation: 0.8s linear 0.1s normal none infinite running load;
    -moz-animation: 0.8s linear 0.1s normal none infinite running load;
    -o-animation: 0.8s linear 0.1s normal none infinite running load;
    -ms-animation: 0.8s linear 0.1s normal none infinite running load;
    background: #00ff80;
}
.loader .dot:nth-child(7n+2) {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}
.loader .dot:nth-child(7n+2)::before {
    animation: 0.8s linear 0.2s normal none infinite running load;
    -webkit-animation: 0.8s linear 0.2s normal none infinite running load;
    -moz-animation: 0.8s linear 0.2s normal none infinite running load;
    -o-animation: 0.8s linear 0.2s normal none infinite running load;
    -ms-animation: 0.8s linear 0.2s normal none infinite running load;
    background: #00ffea;
}
.loader .dot:nth-child(7n+3) {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
}
.loader .dot:nth-child(7n+3)::before {
    animation: 0.8s linear 0.3s normal none infinite running load;
    -webkit-animation: 0.8s linear 0.3s normal none infinite running load;
    -moz-animation: 0.8s linear 0.3s normal none infinite running load;
    -o-animation: 0.8s linear 0.3s normal none infinite running load;
    -ms-animation: 0.8s linear 0.3s normal none infinite running load;
    background: #00aaff;
}
.loader .dot:nth-child(7n+4) {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}
.loader .dot:nth-child(7n+4)::before {
    animation: 0.8s linear 0.4s normal none infinite running load;
    -webkit-animation: 0.8s linear 0.4s normal none infinite running load;
    -moz-animation: 0.8s linear 0.4s normal none infinite running load;
    -o-animation: 0.8s linear 0.4s normal none infinite running load;
    -ms-animation: 0.8s linear 0.4s normal none infinite running load;
    background: #0040ff;
}
.loader .dot:nth-child(7n+5) {
    transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.loader .dot:nth-child(7n+5)::before {
    animation: 0.8s linear 0.5s normal none infinite running load;
    -webkit-animation: 0.8s linear 0.5s normal none infinite running load;
    -moz-animation: 0.8s linear 0.5s normal none infinite running load;
    -o-animation: 0.8s linear 0.5s normal none infinite running load;
    -ms-animation: 0.8s linear 0.5s normal none infinite running load;
    background: #2a00ff;
}
.loader .dot:nth-child(7n+6) {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
}
.loader .dot:nth-child(7n+6)::before {
    animation: 0.8s linear 0.6s normal none infinite running load;
    -webkit-animation: 0.8s linear 0.6s normal none infinite running load;
    -moz-animation: 0.8s linear 0.6s normal none infinite running load;
    -o-animation: 0.8s linear 0.6s normal none infinite running load;
    -ms-animation: 0.8s linear 0.6s normal none infinite running load;
    background: #9500ff;
}
.loader .dot:nth-child(7n+7) {
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
}
.loader .dot:nth-child(7n+7)::before {
    animation: 0.8s linear 0.7s normal none infinite running load;
    -webkit-animation: 0.8s linear 0.7s normal none infinite running load;
    -moz-animation: 0.8s linear 0.7s normal none infinite running load;
    -o-animation: 0.8s linear 0.7s normal none infinite running load;
    -ms-animation: 0.8s linear 0.7s normal none infinite running load;
    background: magenta;
}
.loader .dot:nth-child(7n+8) {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}
.loader .dot:nth-child(7n+8)::before {
    animation: 0.8s linear 0.8s normal none infinite running load;
    -webkit-animation: 0.8s linear 0.8s normal none infinite running load;
    -moz-animation: 0.8s linear 0.8s normal none infinite running load;
    -o-animation: 0.8s linear 0.8s normal none infinite running load;
    -ms-animation: 0.8s linear 0.8s normal none infinite running load;
    background: #ff0095;
}
@keyframes load {
    100% {
        opacity: 0;
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
    }
}
/* Loader */

/* Login */
.login-body {
    background: url('../images/background.jpg') no-repeat 50% 50% / cover;
    height: 100%;
    width: 100%;
}
.container-login {
    position: absolute;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    min-height: 0;
    width: 300px;
    color: #333333;
    margin: 0 auto;
    padding: 0;
    display: block;
}
.container-login > section {
    margin-left: 0;
    margin-right: 0;
}
.container-login .nav-tabs.nav-justified {
    border-bottom: 0 none;
    width: 100%;
}
.container-login .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
    float: none;
}
.container-login .nav-tabs.nav-justified > li > a,
.container-login .nav-tabs.nav-justified > li > a:hover,
.container-login .nav-tabs.nav-justified > li > a:focus {
    background: #ea533f;
    border: medium none;
    color: #ffffff;
    margin-bottom: 0;
    margin-right: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
}
.container-login .nav-tabs.nav-justified > .active > a,
.container-login .nav-tabs.nav-justified > .active > a:hover,
.container-login .nav-tabs.nav-justified > .active > a:focus {
    background: #ffffff;
    color: #333333;
}
.container-login .nav-tabs.nav-justified > li > a:hover,
.container-login .nav-tabs.nav-justified > li > a:focus {
    background: #de2f18;
}
.container-login .tabs-login {
    background: #ffffff;
    border: none;
    padding: 10px;
}
.container-login p {
    text-align: center;
    color: #ea533f;
}
.container-login .form-control {
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #999999;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #333333;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -moz-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -ms-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.container-login .btn {
    background: #ea533f;
    border-color: #e73e28;
    color: #ffffff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    font-size: 18px;
    line-height: 1.33;
    padding: 10px 16px;
    width: 100%;
}
.container-login .btn:hover,
.container-login .btn:focus {
    background: #de2f18;
    border-color: #be2815;
}
/* Login */