.video-wrap {
	margin: 0;
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.video-wrap video {
	margin-bottom: 0;
	object-fit: cover;
}
.video-wrap video::-webkit-media-controls-play-button {display: none;}
.video-wrap video::-webkit-media-controls-current-time-display{padding-left: 10px;}

.no-padding {
	padding: 0 !important;
}
.vmessages {
    left: 5px;
    position: absolute;
    top: 5px;
    width: 35%;
    z-index: 2147483647;
}
.vmessages .alert {
	border-radius: 0;
	padding: 8px 10px;
	margin-bottom: 5px;
	left: 0 !important;
	right: 0 !important;
	font-size: 17px;
}


.live-icon {
	background-color: #f00;
    border: 1px solid #f00;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    left: 50%;
    line-height: 1;
    padding: 5px 10px;
    position: absolute;
    top: 5px;
    transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	-ms-transition: background-color 0.5s ease;
    z-index: 2147483647;
}
.blink {
  	animation: blinker 1.0s cubic-bezier(.5, 0, 1, 1) infinite alternate;  
}
@keyframes blinker {  
  	from { opacity: 1; }
  	to { opacity: 0; }
}


.comment-count {
	background-color: rgba(0, 0, 0, 0.15);
    color: #fff;
    font-size: 16px;
    right: 35px;
    line-height: 1;
    padding: 5px 10px;
    position: absolute;
    top: 5px;
    z-index: 2147483647;
    transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	-ms-transition: background-color 0.5s ease;
}

.fullscreen {
	background-color: rgba(0, 0, 0, 0.15);
    color: #fff;
    font-size: 16px;
    right: 5px;
    line-height: 1;
    padding: 5px;
    position: absolute;
    top: 5px;
    z-index: 2147483647;
}
.fullscreen i {
	cursor: pointer;
	transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	-ms-transition: background-color 0.5s ease;
}

.flying-icons {
	position: absolute;
	width: 15%;
	height: 80%;
	left: 5px;
	bottom: 5px;
	overflow: visible;
	z-index: 2147483646;
}
.flying-icons span {
	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	-ms-transition-timing-function: ease;
	transition-timing-function: ease;
	position: absolute;
	left: 15px;
	bottom: 5px;
	font-size: 16px;
}
.flying-icons span i {
	font-size: 18px;
}

.charts {
	position: absolute;
	width: 49%;
	height: 50%;
	left: 5px;
	bottom: 5px;
	overflow: visible;
	z-index: 2147483647;
}
.charts #pie3d {
	height: 100%;
    bottom: 0;
    top: 20%;
    left: 0;
    position: absolute;
    right: 0;
    transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	-ms-transition: background-color 0.5s ease;
}
.charts #question {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
    font-size: 17px;
    transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	-ms-transition: background-color 0.5s ease;
}

.buy-button {
    position: absolute;
    right: 5px;
    top: 40px;
    z-index: 2147483647;
}
.buyModal {
	z-index: 2147483647;	
}
.buyModal .modal-dialog {
	margin: 10% auto;
}

.comments {
	bottom: 5px;
    color: #fff;
    height: 50%;
    overflow: hidden;
    position: absolute;
    right: 5px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    width: 49%;
    z-index: 2147483646;
}
.comments .comment-inner {
	position: absolute;
	top: 0;
	bottom: 30px;
	left: 0;
	right: 0;
	width: 100%;
}
.comments .nano > ul.nano-content {
	position: absolute;
	top: 0;
	bottom: 30px;
	left: 0;
	right: 0;
	width: 100%;
}
.comments .nano > ul.nano-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}
.comments li {
	margin-bottom: 10px;
	font-size: 14px;
	transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease;
	-moz-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	-ms-transition: background-color 0.5s ease;
}
.comments p {
	word-break: keep-all;
	font-size: 13px;
}
.comment-input {
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	padding: 0;
	background-color: rgba(0,0,0,0.15);
}
.comment-input .form-control {
	background-color: rgba(255,255,255,0.25);
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
	border: none;
	color: #fff;
	padding: 5px;
	font-size: 14px;
	height: 30px;
}
.comment-input .form-control::placeholder {
	color: #eee;
}

.cb-cards{
	display:block;
	width:131px;
}
.cb-cards>span{	
	background: url(../images/cb-sprite.png) no-repeat;
	width: 30px;
	height: 20px;
	float: left;
	margin: 0 2% 0 0;
	margin-top:7px;
}
cb-cards>span.visa {
	background-position: -108px 0;
}
.cb-cards>span.mastercard {
	background-position: -72px 0;
}
.cb-cards>span.american_express {
	background-position: 0 0;
}
.cb-cards>span.discover {
	background-position: -36px 0;
}
.cb-cvv{
	background: url(../images/cb-sprite.png) no-repeat 0 -27px;
	white-space: nowrap;
	height: 18px;
	display: inline-block;
	padding-left: 35px;	
	line-height: 26px;
}
.process{
	padding-left:20px;
	background:url(../images/cb-loading.gif) no-repeat;
	line-height:17px;
}