<app-loader ng-show="loader"></app-loader>
<div class="chat-window">
	<div class="panel">
		<div class="panel-heading">
           	<img src="assets/images/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="img-circle" /> Surajit Pramanik
            <button class="btn btn-default btn-xs logout" ng-click="LogoutProcess();"><i class="fa fa-sign-out"></i></button>
        </div>
        <div class="panel-body">
			<div class="msg_container base_sent">
                <div class="col-xs-10">
                    <div class="messages msg_sent">
                        <p>surajit mongodb thing looks good, huh? tiny master db, and huge document store</p>
                        <time>2017-04-03 14:01:08</time>
                    </div>
                </div>
                <div class="col-xs-2 avatar">
                    <img src="assets/images/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="img-circle" />
                </div>
            </div>
			<div class="msg_container base_receive">
                <div class="col-xs-2 avatar">
                    <img src="assets/images/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="img-circle" />
                </div>
                <div class="col-xs-10">
                    <div class="messages msg_receive">
                        <p>surajit mongodb thing looks good, huh? tiny master db, and huge document store</p>
                        <time>2017-04-03 14:01:08</time>
                    </div>
                </div>
            </div>
			<div class="msg_container base_sent">
                <div class="col-xs-10">
                    <div class="messages msg_sent">
                        <p>surajit mongodb thing looks good, huh? tiny master db, and huge document store</p>
                        <time>2017-04-03 14:01:08</time>
                    </div>
                </div>
                <div class="col-xs-2 avatar">
                    <img src="assets/images/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="img-circle" />
                </div>
            </div>
			<div class="msg_container base_receive">
                <div class="col-xs-2 avatar">
                    <img src="assets/images/bcf1c0d13e5500875fdd5a7e8ad9752ee16e7462.jpg" class="img-circle" />
                </div>
                <div class="col-xs-10">
                    <div class="messages msg_receive">
                        <p>surajit mongodb thing looks good, huh? tiny master db, and huge document store</p>
                        <time>2017-04-03 14:01:08</time>
                    </div>
                </div>
            </div>
		</div>
		<div class="panel-footer">
            <div class="input-group">
                <input type="text" class="form-control chat_input" placeholder="Write a message" />
                <span class="input-group-btn">
                    <button class="btn btn-danger">
                    	<span class="glyphicon glyphicon-send"></span>
                    </button>
                </span>
            </div>
        </div>
	</div>
</div>

<div class="btn-footer">
    <a href="#/idea"><button class="bg_none"><i class="glyphicon glyphicon-film"></i></button></a>
    <a href="#/webinars"><button class="bg_none"><i class="glyphicon glyphicon-camera"></i></button></a>
    <a href="#/chat"><button class="bg_none"><i class="glyphicon glyphicon-paperclip"></i></button></a>
    <a href="#/"><button class="bg_none pull-right"><i class="glyphicon glyphicon-thumbs-up"></i></button></a>
</div>