<app-loader ng-show="loader"></app-loader>
<div class="chat-window bottom-zero">
    <div class="panel">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-bullhorn"></span> Your Idea
            <button class="btn btn-default btn-xs logout" ng-click="LogoutProcess();"><i class="fa fa-sign-out"></i></button>
        </div>
        <div class="panel-body">
            <div class="idea-form">
                <form>
                    <div class="form-group">
                        <label>Describe your ideas</label>
                        <textarea rows="8" class="form-control"></textarea>
                        <p class="help-block">Within 140 characters</p>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-danger">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="btn-footer">
    <a href="#/idea"><button class="bg_none"><i class="glyphicon glyphicon-film"></i></button></a>
    <a href="#/webinars"><button class="bg_none"><i class="glyphicon glyphicon-camera"></i></button></a>
    <a href="#/chat"><button class="bg_none"><i class="glyphicon glyphicon-paperclip"></i></button></a>
    <a href="#/"><button class="bg_none pull-right"><i class="glyphicon glyphicon-thumbs-up"></i></button></a>
</div>