<app-loader ng-show="loader"></app-loader>
<div class="login-body">
      <article class="container-login">
            <tabs>
                  <pane title="Sign In">
                        <login-form></login-form>
                  </pane>
                  <pane title="Sign Up">
                        <signup-form></signup-form>
                  </pane>
            </tabs>
      </article>
</div>