<app-loader ng-show="loader"></app-loader>
<div class="video-wrap" id="webinar_container">
	<video width="100%" height="100%" autoplay playsinline id="webinar_player">
	  <source src="assets/videos/Webinar-test-Comp.mp4" type="video/mp4">
	  <source src="assets/videos/Webinar-test-Comp.ogg" type="video/ogg">
	  <source src="assets/videos/Webinar-test-Comp.webm" type="video/webm">
	  Your browser does not support HTML5 video.
	</video>

	<div class="vmessages"></div>
	<div class="live-icon">
		<span class="blink">LIVE</span>
	</div>
	<div class="comment-count">
		<i class="fa fa-user" aria-hidden="true"></i> <span id="users">34</span>
	</div>
	<div class="fullscreen">
		<i id="enter_fullscreen_btn" class="fa fa-expand" aria-hidden="true"></i>
		<i id="exit_fullscreen_btn" class="fa fa-compress hide" aria-hidden="true"></i>
	</div>

	<div class="flying-icons"></div>
	<div class="charts">
		<div id="pie3d"></div>
		<div id="question"></div>
	</div>
	<div class="buy-button hide">
		<button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#buyModal">BUY NOW!</button>
	</div>
	<div class="modal fade" id="buyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="buyModalLabel">Payment Information</h4>
				</div>
				<div class="modal-body">
					<form action="" method="post" id="buy-form">
						<div class="row">
							<div class="col-sm-12">
								<div class="form-group">
									<label for="card_no">Credit Card Number</label>
									<div class="row">
										<div class="col-sm-6">
											<input type="text" class="card-number form-control" id="card_no" required data-msg-required="cannot be blank">
										</div>
										<div class="col-sm-6">                      	
											<span class="cb-cards hidden-xs">                                        
												<span class="visa"></span>
												<span class="mastercard"></span>
												<span class="american_express"></span>
												<span class="discover"></span>
											</span>
										</div>
									</div>
									<small for="card_no" class="text-danger"></small>
								</div>
							</div>                                                             
						</div>
						<div class="row">                
							<div class="col-sm-6">                                	
								<div class="form-group">
									<label for="expiry_month">Card Expiry</label>
									<div class="row">
										<div class="col-xs-6">
											<select class="card-expiry-month form-control" id="expiry_month" required data-msg-required="empty">
												<option selected>01</option>
												<option>02</option>
												<option>03</option>
												<option>04</option>
												<option>05</option>
												<option>06</option>
												<option>07</option>
												<option>08</option>
												<option>09</option>
												<option>10</option>
												<option>11</option>
												<option>12</option>
											</select>
										</div>
										<div class="col-xs-6">
											<select class="card-expiry-year form-control" id="expiry_year" required data-msg-required="empty">
												<option>2013</option>
												<option>2014</option>
												<option>2015</option>
												<option>2016</option>
												<option>2017</option>
												<option>2018</option>
												<option>2019</option>
												<option selected="">2020</option>
												<option>2021</option>
												<option>2022</option>
												<option>2023</option>
											</select>
										</div>
									</div> 
									<small for="expiry_month" class="text-danger"></small>
									<small for="expiry_year" class="text-danger"></small>
								</div>                                       
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label for="ccv">CCV</label>
									<div class="row">                                    	
										<div class="col-xs-6">
											<input type="text" class="card-cvc form-control" id="ccv" placeholder="CCV" required data-msg-required="empty">
										</div>
										<div class="col-xs-6">                                            	
											<h6 class="cb-cvv"><small>(Last 3-4 digits)</small></h6>
										</div>
									</div>
									<small for="ccv" class="text-danger"></small>
								</div>
							</div>                                      
						</div>                      
						<div class="row">
							<div class="col-sm-12">
								<hr><p>By clicking Subscribe, you agree to our privacy policy and terms of service.</p>
								<p><small class="text-danger" style="display:none;">There were errors while submitting</small></p>
								<button type="submit" class="btn btn-primary btn-lg">Subscribe</button>&nbsp;&nbsp;&nbsp;&nbsp;
								<span class="subscribe_process process" style="display:none;">Processing&hellip;</span>
							</div>
						</div>     
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="comments">
		<div class="comment-inner">
			<div class="nano">
				<ul class="list-unstyled nano-content" id="comment-list"></ul>
			</div>
		</div>
		<div class="comment-input">
			<input type="text" class="form-control" id="comment" placeholder="Write Comments">
		</div>
	</div>
</div>