<app-loader ng-show="loader"></app-loader>
<div class="chat-window bottom-zero">
    <div class="panel">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-expand"></span> My Webinars
            <button class="btn btn-default btn-xs logout" ng-click="LogoutProcess();"><i class="fa fa-sign-out"></i></button>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"><a href="#/webinar">Cras justo odio</a></li>
                <li class="list-group-item"><a href="#/webinar">Dapibus ac facilisis in</a></li>
                <li class="list-group-item"><a href="#/webinar">Morbi leo risus</a></li>
                <li class="list-group-item"><a href="#/webinar">Porta ac consectetur ac</a></li>
                <li class="list-group-item"><a href="#/webinar">Vestibulum at eros</a></li>
                <li class="list-group-item"><a href="#/webinar">Cras justo odio</a></li>
                <li class="list-group-item"><a href="#/webinar">Dapibus ac facilisis in</a></li>
                <li class="list-group-item"><a href="#/webinar">Morbi leo risus</a></li>
                <li class="list-group-item"><a href="#/webinar">Porta ac consectetur ac</a></li>
                <li class="list-group-item"><a href="#/webinar">Vestibulum at eros</a></li>
                <li class="list-group-item"><a href="#/webinar">Cras justo odio</a></li>
                <li class="list-group-item"><a href="#/webinar">Dapibus ac facilisis in</a></li>
                <li class="list-group-item"><a href="#/webinar">Morbi leo risus</a></li>
                <li class="list-group-item"><a href="#/webinar">Porta ac consectetur ac</a></li>
                <li class="list-group-item"><a href="#/webinar">Vestibulum at eros</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="btn-footer">
    <a href="#/idea"><button class="bg_none"><i class="glyphicon glyphicon-film"></i></button></a>
    <a href="#/webinars"><button class="bg_none"><i class="glyphicon glyphicon-camera"></i></button></a>
    <a href="#/chat"><button class="bg_none"><i class="glyphicon glyphicon-paperclip"></i></button></a>
    <a href="#/"><button class="bg_none pull-right"><i class="glyphicon glyphicon-thumbs-up"></i></button></a>
</div>